/* servidor-search.component.css */
.search-filters-minimal {
  display: flex;
  align-items: center;
}

.search-filters-minimal mat-form-field {
  width: auto;
  max-width: 150px;
  margin-right: 8px;
}

.search-filters-minimal .mat-mdc-text-field-wrapper {
  padding-bottom: 0.2em;
}

.search-filters-minimal .mat-mdc-floating-label.mat-mdc-floating-label-should-float {
  transform: translateY(-0.9em) scale(0.75);
}

.search-filters-minimal .mat-mdc-input-element {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 14px;
  line-height: 1.2;
}

.search-filters-minimal button {
  height: 30px;
  font-size: 12px;
}