/* servidores-list.component.css */

h1 {
  text-align: center;
  font-size: 2.2em;
  /* Ajuste o tamanho conforme preferir */
  color: #b3b6ca;
  /* Ou outra cor */
  margin-bottom: 20px;
  margin-top: 15px;
 
}

/* Estilos para o container principal que envolve as duas colunas */
.servidores-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  /* Adiciona um pouco de espaço ao redor das colunas */
}

/* Estilos para o título de cada coluna */
.servidores-grid-container h2 {
  margin-top: 0;
  font-size: 1.6em;
  margin-bottom: 10px;
  /* Adiciona um espaço abaixo do título */
  color: #3f51b5;
  /* Cor primária do Angular Material ou outra cor de sua preferência */
}

/* Estilos para o card */
.servidores-grid-container mat-card {
  border: 1px solid #ccc;
  /* Adiciona uma borda sutil */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* Adiciona uma sombra suave */
  padding: 16px;
  /* Adiciona um padding interno ao card */
}

/* Estilos para o filtro dentro do card */
.servidores-grid-container mat-card app-servidor-search {
  margin-bottom: 10px;
  /* Adiciona um espaço abaixo do filtro */
  display: block;
  /* Garante que o filtro ocupe a largura total disponível */
}

/* Estilos para a linha divisória */
.servidores-grid-container mat-card mat-divider {
  margin: 10px 0;
  /* Adiciona um espaço acima e abaixo da linha */
}

/* Estilos para a lista de servidores */
.servidores-grid-container mat-card ul {
  list-style: none;
  /* Remove os marcadores de lista */
  padding: 0;
}

.servidores-grid-container mat-card li {
  padding: 8px 0;
  /* Adiciona um pequeno padding vertical entre os itens */
  border-bottom: 1px solid #eee;
  /* Adiciona uma linha sutil entre os itens */
}

.servidores-grid-container mat-card li:last-child {
  border-bottom: none;
  /* Remove a linha inferior do último item */
}

/* Estilos para a mensagem de "Nenhum servidor encontrado" */
.servidores-grid-container mat-card p {
  color: #777;
  /* Cor do texto para a mensagem */
  font-style: italic;
  /* Deixa a mensagem em itálico para destacar */
  margin-top: 10px;
  /* Adiciona um espaço acima da mensagem */
}
.servidores-grid-container mat-card {
  /* border: 1px solid #ccc; */
  /* Remova a borda */
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.05);
  /* Sombra mais sutil */
  padding: 16px;
  margin-bottom: 15px;
}
.toolbar-spacer {
  flex: 1 1 auto;
  /* Preenche o espaço restante para empurrar os itens para as extremidades */
}
.secao-superior {
  /* Aplique esta classe ao div que envolve o botão e o filtro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* Aumente a margem inferior */
}