<h1>Lista de Servidores</h1>

<button mat-raised-button color="primary" (click)="abrirModalCadastro()">
  <mat-icon>person_add</mat-icon> Adicionar Servidor
</button>

<div style="display: flex; justify-content: space-between; align-items: center;">
  <app-servidor-search (nomeChange)="onNomeChange($event)" (orgaoChange)="onOrgaoChange($event)"
    (lotacaoChange)="onLotacaoChange($event)" (buscar)="buscar()">
  </app-servidor-search>

  <mat-form-field appearance="outline">
    <mat-label>Filtrar por Status</mat-label>
    <mat-select [(ngModel)]="filtroStatus" (ngModelChange)="filtrarServidores()">
      <mat-option value="">Todos</mat-option>
      <mat-option value="ativo">Ativos</mat-option>
      <mat-option value="inativo">Inativos</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="filtroStatus === '' || filtroStatus === 'ativo'">
  <h2>Servidores Ativos</h2>
  <ul *ngIf="servidores.length > 0">
    <li *ngFor="let servidor of servidores">
      <app-servidor-item [servidor]="servidor" (inativar)="inativar(servidor.id)"
        (editar)="editar(servidor)"></app-servidor-item>
    </li>
  </ul>
  <p *ngIf="servidores.length === 0 && (filtroStatus === '' || filtroStatus === 'ativo')">Nenhum servidor ativo
    encontrado.</p>
</div>

<div *ngIf="filtroStatus === '' || filtroStatus === 'inativo'">
  <h2>Servidores Inativos</h2>
  <ul *ngIf="servidoresInativos.length > 0">
    <li *ngFor="let servidor of servidoresInativos">
      <app-servidor-item [servidor]="servidor" (reativar)="reativar(servidor.id)" (excluir)="excluir(servidor.id)"
        (editar)="editar(servidor)"></app-servidor-item>
    </li>
  </ul>
  <p *ngIf="servidoresInativos.length === 0 && filtroStatus === 'inativo'">Nenhum servidor inativo encontrado.</p>
  <p *ngIf="servidoresInativos.length === 0 && filtroStatus === ''">Nenhum servidor inativo encontrado.</p>
</div>

<app-servidor-form [modalVisible]="modalVisible" [servidorForm]="servidorForm" [orgaos]="orgaos"
  (salvar)="salvar($event)" (cancelar)="cancelar()" [formErrors]="formErrors">
</app-servidor-form>